:root{
  --space-1:6px;
  --space-2:8px;
  --space-3:10px;
  --space-4:12px;
  --space-5:14px;
  --space-6:16px;
  --space-7:18px;
  --space-8:20px;
  --space-9:22px;
  --space-10:24px;
  --space-11:26px;
  --space-12:32px;
  --space-14:44px;
  --space-16:52px;
  --space-18:60px;
  --space-20:66px;
  --space-24:80px;
  --space-28:100px;
}
